<div class="survey-unit__topic">
  <a class="btn btn-primary" role="button" data-toggle="collapse"  id="survey-unit__topic-container-{{element.topic_id}}" href="#topic-{{element.topic_id}}" aria-expanded="false" aria-controls="topic-{{element.topic_id}}">
    {{element.name}}
  </a>
  <div class="collapse" id="topic-{{element.topic_id}}">
    {{{thisQuestions}}}
  </div>
</div>
